.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 92px 48px 0 48px;
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1023px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }

}

@media screen and (max-width:767px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 12px;
    }

}