.cover__title {
   display: flex;
   max-width: 552px;
   height: 152px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   text-align: center;
   color: #FFFFFF;
   margin: 0 0 32px 0;
}

@media screen and (max-width:767px) {
   .cover__title {
      max-width:288px;
      max-height: 70px;
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 16px;
      text-align: center;
     
   }

}